.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 100vh;
}


.bloque1 {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
    height: 80vh;
    /* background-color: red */
    ;
}



.tokenywordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

.softTitle {
    display: flex;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tokenContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.bloque2 {
    /* background-color: aliceblue; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 40vw;
}


.row1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}


.row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.images {
    width: 65px;
}

.tokenImage {
    width: 100px;
}

.tokenImage:hover {
    transform: rotate(360deg) scale(1.2);
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}

.images:hover {
    transform: rotate(360deg) scale(1.3);
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}

.text1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

.special {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #E31B6D;
}

a {
    text-decoration: none;
}