.navItems a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    z-index: 10;
}

.navItems a:hover {
    color: #E31B6D;
    z-index: 10;
}

.active {
    color: red;
    z-index: 10;
}

.page {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navContainer {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffffc8;
    border-bottom: 3px solid #E31B6D;
    width: 100vw;
    height: 65px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
}

.itemsCointainer {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 23px;
    color: rgb(0, 0, 0);
    z-index: 10;
}

.logo {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

.logo img {
    width: 65px;
    height: 65px;
}


.flagIdiomCont {
    width: 45px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.flagIdiom:hover {
    cursor: pointer;
}

.usaFlag {
    margin-bottom: 8px;
}

.usaFlag:hover {
    cursor: pointer;
}

.spaFlag:hover {
    cursor: pointer;
}

.selectedFlag:hover {
    cursor: pointer;
}

.modalFlags {
    width: 50px;
    height: max-content;
    padding: 5px;
    position: absolute;
    top: 65px;
    right: 26px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff31;
}

@media (max-width: 600px) {
    .logo {
        display: none;
        z-index: 10;
    }

    .navContainer {
        width: 100%;
        height: 55px;
        border-radius: 0px;
        z-index: 10;
    }

    .itemsCointainer {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
    }
}